<%- include('header'); -%>

<div class="ui container">
	<div>
		<a href="/"><button class="btn">Search Another Player</button></a>
	</div>
	<div class="hero hero-sm bg-dark">
		<div class="hero-body">
			<h1><%= foo.username %></h1>
			<p>[Matches - <%= foo.lifetime.all.properties.totalGamesPlayed %>]
				[Hours - <%= Math.round(foo.lifetime.all.properties.timePlayedTotal/60/60) %>]
				[Accuracy - <%= Math.round(foo.lifetime.all.properties.accuracy*100) %>%] [Kills -
				<%= foo.lifetime.all.properties.kills %>]
				[Deaths -
				<%= foo.lifetime.all.properties.deaths %>] [K:D -
				<%= foo.lifetime.all.properties.kdRatio.toFixed(2) %>]</p>
		</div>
	</div>



	<h3>Basic Info</h3>
	<table class="table">
		<tbody>
			<% for (const [key, value] of Object.entries(foo.lifetime.all.properties)) { %>
			<% if (key == 'losses' ||key ==  'wins'){%>
			<tr>
				<td data-label="Name"><%= key %></td>
				<td data-label="Age"><%= value %></td>
			</tr>
			<% } %>
			<% } %>
		</tbody>
	</table>






	<h2>SECTION</h2>

	<div>
		<% for (const weaponClasses of Object.keys(foo.lifetime.itemData)) { %>
		<details class="accordion">
			<summary class="accordion-header">
				<i class="icon icon-arrow-right mr-1"></i>
				<%= weaponClasses %>
			</summary>
			<div class="accordion-body">
				<div class="container ">
					<div class="columns">
						<% for (const weaponSpecific of Object.keys(foo.lifetime.itemData[weaponClasses])) { %>
						<div class="column col-3 col-xs-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title h5">
										<%= weaponSpecific %>
									</div>
									<div class="card-subtitle text-gray">...</div>
								</div>
								<table class="table">
									<tbody>
										<% for (const [key, value] of Object.entries(foo.lifetime.itemData[weaponClasses][weaponSpecific].properties)) { %>
										<tr>
											<td data-label="Name"><%= key %></td>
											<td data-label="Age"><%= value %></td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</details>
		<% } %>
	</div>

</div>

</div>
<%- include('footer'); -%>