<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Data</title>
</head>

<body>
    <div><a href="/">Try Again</a></div>
    <div>Player Name: <%= foo.username %></div>
    <div>Kills <%= foo.lifetime.all.properties.kills %></div>
    <div>Deaths <%= foo.lifetime.all.properties.deaths %></div>
    <div>K:D <%= foo.lifetime.all.properties.kdRatio %></div>
    <!-- <div><%= console.log(JSON.stringify(foo)) %></div> -->
</body>

</html>